<div class="hk-pg-wrapper pb-0">
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap fmapp-sidebar-toggle" #infoDiv id="info">
            <!-- <nav class="fmapp-sidebar">
                <div class="fmapp-fixednav">
                    <div class="hk-toolbar">
                        <ul class="nav nav-light">
                            <li class="nav-item nav-link">
                                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="Settings" href="#"><span class="icon"><span
                                            class="feather-icon"><i data-feather="settings"></i></span></span></a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="Archive"><span class="icon"><span class="feather-icon"><i
                                                data-feather="archive"></i></span></span></a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                    data-bs-original-title="Help"><span class="icon"><span class="feather-icon"><i
                                                data-feather="book"></i></span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            <!--  														
           
                                                                                                                            
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/jampack/dist/img/slide1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">First Slide Label</h5>
                            <p>This is content paragraph enough to say.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/jampack/dist/img/slide2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Second Slide Label</h5>
                            <p>This is content paragraph enough to say.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/jampack/dist/img/slide3.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Third Slide Label</h5>
                            <p>This is content paragraph enough to say.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
						 -->
            <div class="fmapp-content">
                <div class="fmapp-detail-wrap">
                    <header class="fm-header">
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedTema ? global.selectedTema.name : 'Todos los temas' }}</h1>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" *ngFor="let tema of global.temas"
                                    (click)="global.selectTema(tema)">
                                    <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                    <span>{{ tema.name }}</span>
                                </a>
                            </div>
                            <form class="mx-3 flex-grow-1 mw-400p" role="search"
                                (submit)="global.searchDocuments($event)">
                                <input type="text" class="form-control" placeholder="Buscar entre los documentos"
                                    [(ngModel)]="global.searchQuery" (ngModelChange)="global.applyFilters()"
                                    name="searchQuery">

                                <!-- <input type="text" class="form-control" placeholder="Buscar entre los documentos" [(ngModel)]="global.searchQuery"> -->
                            </form>
                        </div>
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedYear ? global.selectedYear : 'Todos los años' }}</h1>
                            </a>
                            <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                                <a class="dropdown-item" *ngFor="let year of years" (click)="global.selectYear(year)">
                                    <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                    <span>{{ year }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="fm-options-wrap">
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover fmapp-info-toggle"
                                href="#"><span class="icon"><span class="feather-icon"><i
                                            data-feather="info"></i></span></span></a>
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover hk-navbar-togglable d-lg-inline-block d-none"
                                href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Collapse">
                                <span class="icon">
                                    <span class="feather-icon"><i data-feather="chevron-up"></i></span>
                                    <span class="feather-icon d-none"><i data-feather="chevron-down"></i></span>
                                </span>
                            </a>
                        </div>
                    </header>
                    <div class="fm-body">
                        <div data-simplebar class="nicescroll-bar">
                            <div class="file-card-view">
                                <div class="alert alert-warning alert-wth-icon alert-dismissible fade show"
                                    role="alert">
                                    <span class="alert-icon-wrap"><i class="ri-alert-line"></i></span>
                                    <div class="d-flex align-items-center flex-wrap flex-sm-nowrap">
                                        You must provide value for account name.
                                        <a href="#"
                                            class="btn btn-sm btn-warning ms-sm-auto mt-sm-0 mt-2 flex-shrink-0">Upgrade
                                            Storage</a>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <!-- <div class="collapse-simple mt-4">
                                    <div class="card">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div (click)="setPrev(tema)" class="swiper-slide" *ngFor="let tema of global.temas"
                                                  >
                                                  {{tema.name}}
                                                  </div>
                                                </div>
                                                </div>
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-button-next"></div>
                                    </div>
                                    </div> -->
                                <div class="card">
                                    <div class="card-header">
                                        <a role="button" data-bs-toggle="collapse" href="#fm_collapse_1"
                                            aria-expanded="true">
                                            <h5 class="mb-0" style="color: white;">Documentos recientes</h5>
                                        </a>
                                    </div>
                                    <div id="fm_collapse_1" class="collapse show">
                                        <div class="row gx-3 row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-1 mt-3">
                                            <div class="col" *ngFor="let document of global.filteredDocuments" (click)="setPreview(document)"
                                                [hidden]="filtered && document.temas">
                                                <div class="card file-card card-border document"
                                                    [ngClass]="{'documentSelected': docummentSelected.id === document.id}">
                                                    <div class="card-body fmapp-info-trigger" style="min-height: 0px;">
                                                        <!-- <i class="ri-file-pdf-fill text-blue"></i> -->
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="d-flex justify-content-between align-items-start">
                                                            <div>
                                                                <div class="file-name" style="font-size: 20px;"> {{document.subject}}</div>
                                                                <div class="text-truncate fs-8 mb-2"> {{document.receiver}}</div>
                                                            </div>
                                                            <div class="d-flex">
                                                                <a class="btn btn-xs btn-icon btn-flush-dark btn-rounded flush-soft-hover flex-shrink-0"
                                                                    href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <span class="icon">
                                                                        <span class="feather-icon">
                                                                            <i data-feather="more-horizontal"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="#">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i data-feather="link-2"></i>
                                                                        </span>
                                                                        <span>Compartir Link</span>
                                                                    </a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i data-feather="info"></i>
                                                                        </span>
                                                                        <span>Ver</span>
                                                                    </a>
                                                                    <a class="dropdown-item" href="#">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i data-feather="download"></i>
                                                                        </span>
                                                                        <span>Download</span>
                                                                    </a>
                                                                    <a class="dropdown-item" href="#">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i data-feather="trash-2"></i>
                                                                        </span>
                                                                        <span>Borrar</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-truncate p-xs">Expedido: {{document.issue}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <div class="card-body fmapp-info-trigger">
                                <!-- <i class="svg-icon"></i> -->
                                <i class="ri-file-pdf-fill text-blue" style="font-size: 80px;"></i> 

                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_info">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_activity">
                                        <span class="nav-link-text">Actividad</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#fl_info"
                                                    aria-expanded="true">Detalles</a>
                                            </div>
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: #582e6d; cursor: pointer;"> Abrir</a>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>Serial</span>
                                                            <span>{{docummentSelected.serial}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Asunto</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Entidad Emisora</span>
                                                            <span>{{docummentSelected.entity}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Persona receptora</span>
                                                            <span>{{docummentSelected.receiver}}</span>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_activity">
                                    <div class="collapse-simple">

                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#act_info2"
                                                    aria-expanded="true">Actividad</a>
                                            </div>
                                            <div id="act_info2" class="collapse show">
                                                <div class="card-body">
                                                    <!-- <ul class="activity-list list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div class="avatar avatar-sm avatar-rounded">
                                                                        <img src="assets/jampack/dist/img/avatar15.jpg"
                                                                            alt="user" class="avatar-img">
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">lalala</span> is
                                                                        working on <a href="#"
                                                                            class="link-url"><u>https://assets.adobe.com/id/urn:aaid:sc:AP:5cebaf53-ca19-420a-aeeb-1517b04ab8c0?view=file</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div class="avatar avatar-sm avatar-rounded">
                                                                        <img src="assets/jampack/dist/img/avatar12.jpg"
                                                                            alt="user" class="avatar-img">
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">Morgan Fregman</span>
                                                                        completed react conversion of <a href="#"
                                                                            class="link-default"><u>components</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
    <!-- Chat Popup -->
    <div class="hk-chatbot-popup d-md-block d-flex">
        <header>
            <div class="chatbot-head-top">
                <a class="btn btn-sm btn-icon btn-dark btn-rounded" href="javascript:void(0);" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="icon"><span class="feather-icon"><i data-feather="more-horizontal"></i></span></span>
                </a>
                <!-- <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i
                            class="dropdown-icon zmdi zmdi-notifications-active"></i><span>Send push
                            notifications</span></a>
                    <a class="dropdown-item" href="#"><i class="dropdown-icon zmdi zmdi-volume-off"></i><span>Mute
                            Chat</span></a>
                </div> -->
                <span class="text-white">Chatea con nosotros</span>
                <a id="minimize_chatbot" href="javascript:void(0);" class="btn btn-sm btn-icon btn-dark btn-rounded">
                    <span class="icon"><span class="feather-icon"><i data-feather="minus"></i></span></span>
                </a>
            </div>
<!--             <div class="separator-full separator-light mt-0 opacity-10"></div>
 -->            <!-- <div class="media-wrap">
                <div class="media">
                    <div class="media-head">
                        <div class="avatar avatar-sm avatar-soft-primary avatar-icon avatar-rounded position-relative">
                            <span class="initial-wrap">
                                <i class="ri-customer-service-2-line"></i>
                            </span>
                            <span
                                class="badge badge-success badge-indicator badge-indicator-lg badge-indicator-nobdr position-bottom-end-overflow-1"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="user-name">Soporte</div>
                        <div class="user-status">Online</div>
                    </div>
                </div>
            </div> -->
        </header>
        <div class="chatbot-popup-body" style="padding-top: 15%;">
            <div data-simplebar class="nicescroll-bar">
                <div >
                    <div class="init-content-wrap">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <p class="card-text">Bienvenido a VENDRICOM 💬<br>En que podemos
                                    ayudarte?<br><br></p>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button (click)="setSelectedTema(tema.name)" *ngFor="let tema of global.temas"
                                class="btn btn-soft-primary text-nonecase btn-rounded start-conversation">
                                <span>
                                    <span class="icon">
                                        <span class="feather-icon"><i data-feather="eye"></i></span>
                                    </span>
                                    <span class="btn-text" style="font-size: medium;">{{tema.name}}</span>
                                </span>
                            </button>

                        </div>

                    </div>
                    <ul class="list-unstyled d-none">
                        <li class="media sent">
                            <div class="media-body">
                                <div class="msg-box">
                                    <div>
                                        <p><span style="font-weight: bold;">
                                                Tema:
                                            </span>
                                            {{global.selectedTema}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media received">
                            <div class="avatar avatar-xs avatar-soft-primary avatar-icon avatar-rounded">
                                <span class="initial-wrap">
                                    <i class="ri-customer-service-2-line"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <div class="msg-box">
                                    <div>
                                        <p>Bienvenido!<br>Indiqueme por favor su requerimiento?</p>
                                    </div>
                                </div>
                                <div class="msg-box typing-wrap">
                                    <div>
                                        <div class="typing">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div class="chatbot-intro-text fs-7">
                <div class="separator-full separator-light"></div>
                <p class="mb-2">Selecciona un tema y abre un caso de soporte.
                </p>
                <!-- <a class="d-block mb-2" href="#"><u>Give Feedback</u></a> -->
            </div>
            <div class="input-group d-none">
                <div class="input-group-text overflow-show border-0">
                    <button class="btn btn-icon btn-flush-dark flush-soft-hover btn-rounded dropdown-toggle no-caret"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon"><span class="feather-icon"><i data-feather="share"></i></span></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-primary avatar-rounded me-3">
                                    <span class="initial-wrap">
                                        <i class="ri-image-line"></i>
                                    </span>
                                </div>
                                <div>
                                    <span class="h6 mb-0">Photo or Video Library</span>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-info avatar-rounded me-3">
                                    <span class="initial-wrap">
                                        <i class="ri-file-4-line"></i>
                                    </span>
                                </div>
                                <div>
                                    <span class="h6 mb-0">Documentos</span>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-success avatar-rounded me-3">
                                    <span class="initial-wrap">
                                        <i class="ri-map-pin-line"></i>
                                    </span>
                                </div>
                                <div>
                                    <span class="h6 mb-0">Location</span>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-blue avatar-rounded me-3">
                                    <span class="initial-wrap">
                                        <i class="ri-contacts-line"></i>
                                    </span>
                                </div>
                                <div>
                                    <span class="h6 mb-0">Contact</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <input type="text" id="input_msg_chat_popup" name="send-msg"
                    class="input-msg-send form-control border-0 shadow-none" placeholder="Escribe aqui...">
                <div class="input-group-text overflow-show border-0">
                    <button class="btn btn-icon btn-flush-dark flush-soft-hover btn-rounded">
                        <span class="icon"><span class="feather-icon"><i data-feather="smile"></i></span></span>
                    </button>
                </div>
            </div>
            <div class="footer-copy-text">Powered by <a class="brand-link" href="#"><img
                        src="assets/jampack/dist/img/logo-light.png" alt="logo-brand"></a></div>
        </footer>
    </div>
    <a href="#" class="btn btn-icon btn-floating btn-primary btn-lg btn-rounded btn-popup-open">
        <span class="icon">
            <span class="feather-icon"><i data-feather="message-circle"></i></span>
        </span>
    </a>
    <div class="chat-popover shadow-xl">
        <p>Chatea con nosotros y recibe asesoramiento en cualquier tema de tu interés!</p>
    </div>
</div>