<div [hidden]="virtualRouter.routerActive==='login' || virtualRouter.routerActive==='register' " class="hk-wrapper" data-layout="vertical"
  data-layout-style="default" data-menu="dark" data-footer="simple" data-hover="active">
  <app-top-navbar [hidden]="virtualRouter.routerActive=='settings'"></app-top-navbar>
  <app-vertical-nav [hidden]="virtualRouter.routerActive=='settings'"></app-vertical-nav>
  <app-settings [hidden]="virtualRouter.routerActive!=='settings'"></app-settings>
  <app-user-home [hidden]="virtualRouter.routerActive!=='user-home'"></app-user-home>
  <app-admin-home [hidden]="virtualRouter.routerActive!=='admin-home'"></app-admin-home>
  <app-user-payments [hidden]="virtualRouter.routerActive!=='user-payments'"></app-user-payments>
  <app-file-manager [hidden]="virtualRouter.routerActive!=='file-manager'"></app-file-manager>
  <app-normativa [hidden]="virtualRouter.routerActive!=='normativas'"></app-normativa>
  <app-boletines [hidden]="virtualRouter.routerActive!=='boletines'"></app-boletines>
  <app-jurisprudencia [hidden]="virtualRouter.routerActive!=='jurisprudencia'"></app-jurisprudencia>
  <app-modelos [hidden]="virtualRouter.routerActive!=='modelos'"></app-modelos>
  <app-user-requests [hidden]="virtualRouter.routerActive!=='user-requests'"></app-user-requests>
  <app-admin-support [hidden]="virtualRouter.routerActive!=='admin-support'"></app-admin-support>
  <app-user-support [hidden]="virtualRouter.routerActive!=='user-support'"></app-user-support>
  <app-cursos [hidden]="virtualRouter.routerActive!=='cursos'"></app-cursos>
  <app-publicity [hidden]="virtualRouter.routerActive!=='publicity'"></app-publicity>

</div>
<div class="hk-wrapper hk-pg-auth" data-footer="simple" [hidden]="virtualRouter.routerActive!=='login'&& virtualRouter.routerActive!=='register' ">
  <app-login [hidden]="virtualRouter.routerActive!=='login'"></app-login>
  <app-register [hidden]="virtualRouter.routerActive!=='register'"></app-register>
</div>
<div class="modal fade" id="add_fav_board" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered mw-400p" role="document">
    <div class="modal-content">
      <div class="modal-header header-wth-bg-inv">
        <h5 class="modal-title">Agregar {{global.modaltitle}}</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div>
          <div data-simplebar class="nicescroll-bar h-350p">
            
            <div style="display: flex; align-items: center;">
              <input type="text" [hidden]="global.modaltitle!='categoria'"  style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newCategory" class="form-control" placeholder="Nombre de la categoría">
              <input type="text"  [hidden]="global.modaltitle!='tema'" style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newTema" class="form-control" placeholder="Nombre del tema">
              <input type="text"  [hidden]="global.modaltitle!='repositorio'" style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newRepositorio" class="form-control" placeholder="Nombre del repositorio">

              <!-- <span class="btn btn-default btn-lg" style="margin-left: 10px;" (click)="global.saveCategory()">Guardar</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn flex-fill btn-light flex-1" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" [hidden]="global.modaltitle!='categoria'" class="btn flex-fill btn-primary flex-1" data-bs-dismiss="modal" (click)="global.saveCategory()">Guardar</button>
        <button type="button" [hidden]="global.modaltitle!='tema'" class="btn flex-fill btn-primary flex-1" data-bs-dismiss="modal" (click)="global.saveTema()">Guardar</button>
        <button type="button" [hidden]="global.modaltitle!='repositorio'" class="btn flex-fill btn-primary flex-1" data-bs-dismiss="modal" (click)="global.saveRepositorio()">Guardar</button>
      </div>
    </div>
  </div>
</div>