<div [hidden]="virtualRouter.routerActive==='login' || virtualRouter.routerActive==='register' " class="hk-wrapper" data-layout="vertical"
  data-layout-style="default" data-menu="dark" data-footer="simple" data-hover="active">
  <app-top-navbar [hidden]="virtualRouter.routerActive=='settings'"></app-top-navbar>
  <app-vertical-nav [hidden]="virtualRouter.routerActive=='settings'"></app-vertical-nav>
  <app-settings [hidden]="virtualRouter.routerActive!=='settings'"></app-settings>
  <app-user-home [hidden]="virtualRouter.routerActive!=='user-home'"></app-user-home>
  <app-admin-home [hidden]="virtualRouter.routerActive!=='admin-home'"></app-admin-home>
  <app-user-payments [hidden]="virtualRouter.routerActive!=='user-payments'"></app-user-payments>
  <app-file-manager [hidden]="virtualRouter.routerActive!=='file-manager'"></app-file-manager>
  <app-normativa [hidden]="virtualRouter.routerActive!=='normativas'"></app-normativa>
  <app-boletines [hidden]="virtualRouter.routerActive!=='boletines'"></app-boletines>
  <app-jurisprudencia [hidden]="virtualRouter.routerActive!=='jurisprudencia'"></app-jurisprudencia>
  <app-modelos [hidden]="virtualRouter.routerActive!=='modelos'"></app-modelos>
  <app-user-requests [hidden]="virtualRouter.routerActive!=='user-requests'"></app-user-requests>
  <app-admin-support [hidden]="virtualRouter.routerActive!=='admin-support'"></app-admin-support>
  <app-user-support [hidden]="virtualRouter.routerActive!=='user-support'"></app-user-support>
</div>
<div class="hk-wrapper hk-pg-auth" data-footer="simple" [hidden]="virtualRouter.routerActive!=='login'&& virtualRouter.routerActive!=='register' ">
  <app-login [hidden]="virtualRouter.routerActive!=='login'"></app-login>
  <app-register [hidden]="virtualRouter.routerActive!=='register'"></app-register>
</div>
<div class="modal fade" id="add_fav_board" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered mw-400p" role="document">
    <div class="modal-content">
      <div class="modal-header header-wth-bg-inv">
        <h5 class="modal-title">Agregar {{global.modaltitle}}</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div>
          <div data-simplebar class="nicescroll-bar h-350p">
            <!-- <ul class="p-3 pb-0">
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-primary avatar-rounded">
                      <span class="initial-wrap">J</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Jampack</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck2" checked>
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-danger avatar-rounded">
                      <span class="initial-wrap">H</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Hencework</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck3" checked>
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-info avatar-rounded">
                      <span class="initial-wrap">G</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Griffin</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck4">
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-warning avatar-rounded">
                      <span class="initial-wrap">R</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">React - Jampack</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck5" checked>
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-primary avatar-rounded">
                      <span class="initial-wrap">P</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Pangong</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck6" checked>
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-success avatar-rounded">
                      <span class="initial-wrap">A</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Angular - Jampack</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck7" checked>
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-warning avatar-rounded">
                      <span class="initial-wrap">R</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">React - Jampack</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck8">
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-primary avatar-rounded">
                      <span class="initial-wrap">P</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Pangong</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck9">
                </div>
              </li>
              <li class="d-flex align-items-center justify-content-between mb-3">
                <div class="media d-flex align-items-center">
                  <div class="media-head me-2">
                    <div class="avatar avatar-xs avatar-success avatar-rounded">
                      <span class="initial-wrap">A</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="name">Angular - Jampack</div>	
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="customCheck10">
                </div>
              </li>
            </ul> -->
            <div style="display: flex; align-items: center;">
              <input type="text" [hidden]="global.modaltitle!='categoria'"  style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newCategory" class="form-control" placeholder="Nombre de la categoría">
              <input type="text"  [hidden]="global.modaltitle!='tema'" style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newTema" class="form-control" placeholder="Nombre del tema">
          
              <!-- <span class="btn btn-default btn-lg" style="margin-left: 10px;" (click)="global.saveCategory()">Guardar</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn flex-fill btn-light flex-1" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" [hidden]="global.modaltitle!='categoria'" class="btn flex-fill btn-primary flex-1" data-bs-dismiss="modal" (click)="global.saveCategory()">Guardar</button>
        <button type="button" [hidden]="global.modaltitle!='tema'" class="btn flex-fill btn-primary flex-1" data-bs-dismiss="modal" (click)="global.saveTema()">Guardar</button>
      </div>
    </div>
  </div>
</div>